<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Assignment Detail</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-primary text-white">
              Assignment Detail: {{ assignment.project_name }}
            </div>
            <div class="card-body">
              <h4>Submissions:</h4>

              {% if student_info %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Student ID</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in student_info %}
                  <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.student_number }}</td>
                    <td>
                      {% if student.is_marked %}
                      <a class="btn btn-success btn-sm"> Already Marked </a>
                      {% else %}
                      <a
                        href="{% url 'view_markscheme' assignment_id=assignment.id submission_id=student.id %}"
                        class="btn btn-success btn-sm"
                      >
                        Start Marking
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
